$app--white: rgba(255, 255, 255, 1);
$app--altrow: rgba(172, 203, 231, 0.16);
$app--active: rgba(72, 161, 115, 1);
$app--pending: rgba(245, 145, 41, 1);
$app--deny: rgba(234, 0, 27, 1);
$app--black: rgba(34, 34, 34, 1);
$app--danger: rgba(219, 83, 96, 1);
